<!DOCTYPE html>
<html>
<head>
  <title>Trending Repos Weekly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
  data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Trending Repos Weekly</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
      <% if current_user %>
        <li><a class="xxnavbar-brand" href="/newsletters/new">Create Newsletter</a></li>
        <li><a class="xxnavbar-brand" href="/newsletters/">View Newsletters</a></li>
      <% end %>
      </ul>
      <p class="navbar-text pull-right">
        <% if current_user %>
          <%= "logged in as #{current_user.email}"  %>
          | <a href="/users/sign_out">Log out</a>
        <% else %>
          <a href="/users/sign_in">Please Log in</a>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <% if flash.notice %>
             <p class="alert alert-success"><%= flash.notice %></p>
          <% end %>
          <% if flash.alert %>
             <p class="alert alert-danger"><%= flash.alert %></p>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
</div>
</body>
</html>
